{% extends 'base.html' %}
{% load static %}
{% block titlehead %}
    Perfil: {{ perfil.username }}
{% endblock %}

{% block contenido %}
<div class="row"></div>

    <div class="row">
            <div class="col m2"></div>
              <div class="col s12 m8">
                <div class="card">
                    <div class="center-align col s12 profile-img-container">
                            {% if perfil.foto %}
                                <img class="responsive-img" src="{{ perfil.foto.url }}" alt="imagen de perfil">
                            {% else %}
                               <img class="responsive-img circle" src="{% static 'img/pordefecto.jpg' %}" alt="archivo por defecto">
                            {% endif %} 
                    </div>
                  <div class="card-content">
                    <span class="card-title black-text">{{ perfil.username }}</span>
                  </div>
                  <div class="card-action">
                    {% if request.user == perfil%}
                            <a href="{% url 'editar_perfil' %}">Editar</a>
                    {% else %}
                        {% if siguiendo%}
                            <a href="{% url 'seguir_perfil' perfil.id%}">Dejar Seguir</a>
                        {% else %}
                            <a href="{% url 'seguir_perfil' perfil.id%}">Seguir</a>
                        {% endif %}
                    {% endif %}
                  </div>
                </div>
              </div>        
    </div>






    <div class="row">
        <div class="divider"></div>
    </div>

    <div class="row">
            <h5>Posts: </h5>

    <div class="row">
        {% include 'post/grid_post.html' with posts=perfil.post_creados.all %}
        
    </div>

    <div class="row">
        <div class="divider"></div>
    </div>   


    <div class="row seguidores">
        <div class="col s6">
            <h5>Seguidores: {{perfil.seguidores.count}}</h5>        
        </div>
        <div class="col s6">
            <h5>Seguidos: {{perfil.seguidos.count}}</h5>    
        </div>
    </div>



{% endblock %}