{% extends 'base.html' %}
{% load static %}
{% block titlehead %}
    Perfil: {{ perfil.username }}
{% endblock %}

{% block contenido %}
    Perfil: {{ perfil.username }}
    {% if perfil.foto %}
    <img src="{{ perfil.foto.url }}" alt="imagen de perfil">
    {% else %}
       <img src="{% static 'img/pordefecto.jpg' %}" alt="archivo por defecto">
    {% endif %}    
    {% if request.user == perfil%}
        <button>Editar</button>
    {% else %}
        <button>otra cosa</button>
    {% endif %}
{% endblock %}