{% extends 'base.html' %}
{% load static %}
{% block titlehead %}
    Perfil: {{ perfil.username }}
{% endblock %}

{% block contenido %}
    Perfil: {{ perfil.username }}
    {% if perfil.foto %}
    <img src="{{ perfil.foto.url }}" alt="imagen de perfil">
    {% else %}
       <img src="{% static 'img/pordefecto.jpg' %}" alt="archivo por defecto">
    {% endif %}    
    {% if request.user == perfil%}
        <button>Editar</button>



    {% else %}
        <button>otra cosa</button>
    {% endif %}

        <div class="row">
            <div class="divider"></div>
        </div>
        <div class="row">
            <h1>MIS POST</h1>
            {% for post in perfil.post_set.all %}
                <div class="row">
                    <h3>{{ post.titulo }}</h3>
                    {% if request.user == perfil %}
                        <button>Editar</button>
                        <form method="POST" action="{%url 'borrar_post' post.id%}">
                            <button type="submit">Borrar</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
{% endblock %}