.comentarios, .calificacion-box, .opciones-box{
    border: solid 1px lightgrey;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #ffffff;
}

.calificacion-botonera{
    margin:0px;
}

.imagen-post-grid{
    height: 160px;
    position: relative;
    overflow: hidden;
}

.imagen-post-grid img{
    height: auto;
    width:100%;
    margin: 0 auto;
}

.circle{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.foto-perfil-esquina{
    height: 50px;
    width: 50px;
}

#dislike_active{
    visibility: hidden;
}
#like_active{
    visibility: hidden;
}