.post{
    height: 400px;
}

.profile-img-container{
    margin-top: 20px;
}

.comentarios, .calificacion-box, .opciones-box{
    border: solid 1px lightgrey;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #ffffff;
}

.calificacion-botonera{
    margin:0px;
}

.imagen-post-grid{
    height: 160px;
    position: relative;
    overflow: hidden;
}

.imagen-post-grid img{
    height: auto;
    width:100%;
    margin: 0 auto;
}


.circulo-img-menu{
    height: 44px;
    width: 44px;
    margin-top:10px;
    background-position: center center;
    background-size: cover;
    border-radius:50%;
}

.fondo-menu img{
    opacity: .4;
}



.icon-top-bar-button {
    height: 3em;
}

.icon-top-bar-button i{
    line-height: 2em!important;
}


.txt-top-bar-button {
    line-height: 1em;
}

.icon-top-bar-button,
.txt-top-bar-button{
    text-align: center;
}

.sidenav-trigger{
    display: block!important;
}


.fondo-menu img{
    opacity: .4;
}

.circulo-img-menu{
    height: 44px;
    width: 44px;
    margin-top:10px;
    background-position: center center;
    background-size: cover;
    border-radius:50%;
}

@media screen and (max-width:600px){
    .circulo-img-menu {
        height: 40px;
        width: 40px;
        margin-left: -25px;
    }
}

.sin-margen{
    margin: 0!important;
}






.center-align{
    text-align: center;
}



.circle{
    border-radius: 50%;
}

.image-container img{
    max-width: 150px;
    opacity: 1;
}