{% extends 'base.html' %}

{% block headtitle %}
    Post: {{post.titulo}}
{% endblock %}

{%block contenido%}
            <div class="row">
                <!-- empieza post previa -->
                <div class="col s12">
                  <div class="card">
                    <div class="card-image">
                      <img src="{{post.imagen.url}}">
                      <span class="card-title black-text">{{post.titulo}}</span>
                    </div>
                    <div class="card-content">
                      <p>
                        {{post.contenido}}
                      </p>
                    </div>
                    <div class="card-action">
                      <a href="#">Like</a>
                      <a href="#">Dislike</a>
                      <span>Creador: {{ post.usuario.username }}</span>
                    </div>
                  </div>
                </div>
                <!-- fin post previa -->
            </div>

            <div class="comentar">
              <form method="POST" action="{% url 'comentar' post.id %}">
                {% csrf_token %}
                {{ form_comentario }}
                <button type="submit">Comentar</button>
              </form>

            </div>

            <div class="comentario">
              <div class="row">
                <h1>Comentarios</h1>
              </div>
              {% for comentario in post.comentario_set.all %}
                <div class="row">
                  <p>{{comentario.usuario.username}}: {{comentario.texto}}</p>
                </div>
              {% endfor%}
            </div>


            <div class="row">
                <h6>mas del autor</h6>
            </div>
            <div class="row">
              {% include 'post/grid_post.html' with posts=mas_post %}
            </div>
{% endblock %}