{% extends 'base.html' %}
{% load static %}
{% block headtitle %}
    Post: {{post.titulo}}
{% endblock %}

{%block contenido%}
            <div class="row">
                <!-- empieza post previa -->
                <div class="col s12">
                  <div class="card">
                    <div class="card-image">
                      <img src="{{post.imagen.url}}">
                    </div>
                    <div class="card-content">
                      <span class="card-title black-text">{{post.titulo}}</span>
                      <p class="flow-text">
                        {{post.contenido}}
                      </p>
                    </div>
                    <div class="card-action">
                      <a href="{% url 'like' post.id %}">
                        <img onClick="desaparecer_like();" id=like src="{% static 'img/like.jpg'%}" alt="">
                      </a>
                      <a href="#">
                        <img  onClick="desaparecer_like()" id=dislike src="{% static 'img/Dislike.jpg'%}" alt="">
                      </a>
                      <a href="#"><img id=like_active src="{% static 'img/like_active.jpg'%}" alt=""></a>
                      <a href="#"><img id=dislike_active src="{% static 'img/Dislike_active.jpg'%}" alt="">
                      <p>{{post.puntaje}}</p>
                      </a>
                      <br>
                      <br>
                      <span><h6>Creador: {{ post.usuario.username }}</h6></span>
                      <br>
                      <span><h6>Categoria: {{ post.categoria.titulo }}</h6></span>
                    </div>
                  </div>
                </div>
                <!-- fin post previa -->
            </div>

            <div class="row comentarios">
              <div class="col s12 center-align">
                <h4>Calificar</h4>
              </div>
              <div class="row center-align">
                <div class="col s1">
                  <a class="waves-effect waves-light btn pulse light-green accent-3" href="">-5</a>
                </div>
                <div class="col s1">
                  <a class="waves-effect waves-light btn" href="">-4</a>
                </div>
                <div class="col s1">
                  <a class="waves-effect waves-light btn" href="">-3</a>
                </div>
                <div class="col s1">
                  <a class="waves-effect waves-light btn" href="">-2</a>
                </div>
                <div class="col s1">
                  <a class="waves-effect waves-light btn" href="">-1</a>
                </div>
                <div class="col s1">
                  <a class="waves-effect waves-light btn" href="">0</a>
                </div>
                <div class="col s1">
                  <a class="waves-effect waves-light btn" href="">1</a>
                </div>
                <div class="col s1">
                  <a class="waves-effect waves-light btn" href="">2</a>
                </div>
                <div class="col s1">
                  <a class="waves-effect waves-light btn" href="">3</a>
                </div>
                <div class="col s1">
                  <a class="waves-effect waves-light btn" href="">4</a>
                </div>
                <div class="col s1">
                  <a class="waves-effect waves-light btn" href="">5</a>
                </div>

              </div>
            </div>            
            {% if post.permitir_comentarios %}
              <div class="row comentarios">
                <div class="comentar">
                  <form method="POST" action="{% url 'comentar' post.id %}">
                    {% csrf_token %}
                    <div class="row">
                      <div class="input-field col s12">
                        {{ form_comentario.texto }}
                        <label for="id_text">Comentario:</label>
                      </div>
                    </div>
                    <div class="row center-align">
                      <button class="btn waves-effect waves-light" type="submit" name="action">Comentar
                          <i class="material-icons right">send</i>
                      </button>
                  </div>
                    
                  </form>
                </div>

                  <ul class="collection">
                    {% for comentario in comentarios %}
                      <li class="collection-item avatar">
                        {% if comentario.usuario.foto %}
                          <img src="{{ comentario.usuario.foto.url }}" alt="foto de perfil" class="circle">
                          {% else %}
                          <a href="{% url 'ver_perfil' request.user.id %}" class="brand-logo right"><img class="circle foto-perfil-esquina" src="{% static 'img/pordefecto.jpg' %}" alt="archivo por defecto"></a>
                        {% endif %}
                          <a href="{% url 'ver_perfil' comentario.usuario.id %}">
                          <span class="title">
                          {{comentario.usuario.username}}:</span>
                          </a>
                        
                        <p>{{comentario.texto}}
                        </p>
                        <p>{{comentario.fecha_creacion}}
                        </p>
                      </li>
                    {% endfor%}
                  </ul>              
              </div>
            {% endif %}
            
            <div class="divider"></div>

            <div class="row">
                <h6>mas del autor</h6>
            </div>
            <div class="row">
              {% include 'post/grid_post.html' with posts=mas_post %}
            </div>
{% endblock %}