{% extends 'base.html' %}
{% load static %}
{% block headtitle %}
    Post: {{post.titulo}}
{% endblock %}

{%block contenido%}
            <div class="row">
                <!-- empieza post previa -->
                <div class="col s12">
                  <div class="card">
                    <div class="card-image">
                      {% if post.imagen %}
                        <img src="{{post.imagen.url}}">
                      {% endif %}
                      
                      
                    </div>
                    <div class="card-content">
                      <span class="card-title black-text">{{post.titulo}}</span>                      
                      <p class="flow-text">
                        {{post.contenido}}
                      </p>
                    </div>
                    <div class="card-action">

                      <span><h6>Creador: <a href="{% url 'ver_perfil' post.usuario.id %}">{{post.usuario.username}}</a></h6></span>
                      {% if post.categoria %}
                      <span><h6>Categoria: <a href="{% url 'categoria' post.categoria.id %}">{{ post.categoria.titulo }}</a></h6></span>
                      {% endif %}
                      <span><h6>Calificación: {{post.puntaje}}</h6></span>

                    </div>
                  </div>
                </div>
                <!-- fin post previa -->
            </div>


 
            <div class="row opciones-box">
            {% if request.user == post.usuario%}
                <form method="POST" action="{%url 'borrar_post' post.id%}">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Seguro?')" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></button>
                </form>
            {% endif %}
          </div>




            <div class="row calificacion-box">
              <div class="row center-align calificacion-botonera">                
                <div class="col s2">
                  <a class="waves-effect waves-light btn pulse light-green accent-3" href="{% url 'calificar_post' post.id 0 %}">0</a>
                </div>
                <div class="col s2">
                  <a class="waves-effect waves-light btn {% if calificacion >= 1 %}pulse light-green accent-3{%endif%}" href="{% url 'calificar_post' post.id 1 %}">1</a>
                </div>
                <div class="col s2">
                  <a class="waves-effect waves-light btn {% if calificacion >= 2 %}pulse light-green accent-3{%endif%}" href="{% url 'calificar_post' post.id 2 %}">2</a>
                </div>
                <div class="col s2">
                  <a class="waves-effect waves-light btn {% if calificacion >= 3 %}pulse light-green accent-3{%endif%}" href="{% url 'calificar_post' post.id 3 %}">3</a>
                </div>
                <div class="col s2">
                  <a class="waves-effect waves-light btn {% if calificacion >= 4 %}pulse light-green accent-3{%endif%}" href="{% url 'calificar_post' post.id 4 %}">4</a>
                </div>
                <div class="col s2">
                  <a class="waves-effect waves-light btn {% if calificacion >= 5 %}pulse light-green accent-3{%endif%}" href="{% url 'calificar_post' post.id 5 %}">5</a>
                </div>

              </div>
            </div>            
            {% if post.permitir_comentarios %}
              <div class="row comentarios">
                <div class="comentar">
                  <form method="POST" action="{% url 'comentar' post.id %}">
                    {% csrf_token %}
                    <div class="row">
                      <div class="input-field col s12">
                        {{ form_comentario.texto }}
                        <label for="id_text">Comentario:</label>
                      </div>
                    </div>
                    <div class="row center-align">
                      <button class="btn waves-effect waves-light" type="submit" name="action">Comentar
                          <i class="material-icons right">send</i>
                      </button>
                  </div>
                    
                  </form>
                </div>

                  <ul class="collection">
                    {% for comentario in comentarios %}
                      <li class="collection-item avatar">
                        {% if comentario.usuario.foto %}
                          <img src="{{ comentario.usuario.foto.url }}" alt="foto de perfil" class="circle">
                          {% else %}
                          <a href="{% url 'ver_perfil' request.user.id %}" class="brand-logo right"><img class="circle foto-perfil-esquina" src="{% static 'img/pordefecto.jpg' %}" alt="archivo por defecto"></a>
                        {% endif %}
                          <a href="{% url 'ver_perfil' comentario.usuario.id %}">
                          <span class="title">
                          {{comentario.usuario.username}}:</span>
                          </a>
                        
                        <p>{{comentario.texto}}
                        </p>
                        <p>{{comentario.fecha_creacion}}
                        </p>
                      </li>
                    {% endfor%}
                  </ul>              
              </div>
            {% endif %}
            
            <div class="divider"></div>

            <div class="row">
                <h6>mas del autor</h6>
            </div>
            <div class="row">
              {% include 'post/grid_post.html' with posts=mas_post %}
            </div>
{% endblock %}