
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
          {% block headtitle %}
              Django Blog
          {% endblock %}          
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css'%}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>

        <header>
          {% include "navbar.html" with comentarios=comentarios %}  
        </header>

        <div class="container">


              {%block contenido%}
                     
              {%endblock%}
  
        </div>


    </body>
    <script type="text/javascript" src="{% static 'js/materialize.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/mostrar_ocultar.js'%}"></script>
    <script type="text/javascript">
          document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
          });
    </script>
</html>