<nav>
    <div class="nav-wrapper">
        {% if request.user.is_authenticated %}
          <a href="{% url 'ver_perfil' request.user.id %}" class="brand-logo right"><img class="circle foto-perfil-esquina" src="{{ request.user.foto.url }}"></a>
        {% else %}
          <a href="{% url 'iniciar_sesion' %}" class="brand-logo right">Iniciar Sesión</a>
        {% endif%}


      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li ><a href="{% url 'new_post' %}">Crear</a></li>
        <li><a href="#">Categorias</a></li>

        {% if request.user.is_authenticated %}
        <li><a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
        {% else %}
        <li><a href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a></li>
        {% endif %}
      </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'index' %}">Inicio</a></li>
    <li><a href="{% url 'new_post' %}">Crear</a></li>
    <li><a href="#">Categorias</a></li>
</ul>   