{% load static %}
<nav>
  <div class="nav-wrapper">
    <div class="row">


        <div class="col s10">

          <div class="row sin-margen">

            <div class="col s3">
              <a href="{% url 'index' %}" class="top-bar-button">
                <div class=" icon-top-bar-button">
                  <i class="material-icons">home</i>
                </div>
                <div class="txt-top-bar-button truncate hide-on-small-only">Inicio</div>
              </a>
            </div> 

            <div class="col s3">
              <a href="{% url 'categorias' %}" class="top-bar-button">
                <div class=" icon-top-bar-button">
                  <i class="material-icons">collections</i>
                </div>
                <div class="txt-top-bar-button truncate hide-on-small-only">Categorias</div>
              </a>
            </div> 

            <div class="col s3">
              <a href="{% url 'feed' %}" class="top-bar-button">
                <div class=" icon-top-bar-button">
                  <i class="material-icons">star</i>
                </div>
                <div class="txt-top-bar-button truncate hide-on-small-only">Mi Feed</div>
              </a>
            </div>

            <div class="col s3">
              <a href="{% url 'new_post' %}" class="top-bar-button">
                <div class=" icon-top-bar-button">
                  <i class="material-icons">add</i>
                </div>
                <div class="txt-top-bar-button truncate hide-on-small-only">Crear Post</div>
              </a>
            </div>

          </div>

        </div>

        <div class="col s2 center-align">
          <!-- inicio items menu deslizante -->
          <ul id="slide-out" class="sidenav left-align collection">
              {% if user.is_authenticated %}
                <li>
                  <div class="user-view">
                    <div class="background black fondo-menu">
                      
                      <img src="{% static 'img/fondo.png' %}">
                      
                    </div>


                    <a href="{% url 'ver_perfil' request.user.id %}">

                      {% if request.user.foto %}
                        <img class="circle" src="{{request.user.foto.url}}">
                      {% else %}
                        <i class="large material-icons">person</i>
                      {% endif %}

                    </a>
                  <a href="/usuario/perfil/">
                    <span class="white-text name">{{ request.user.username.title }} (perfil)</span>
                  </a>
                  <a href="/usuario/perfil/">
                    <span class="white-text email">{{ request.user.email }}</span>
                  </a>
                </div>
                  
              </li>



              <li><div class="divider"></div></li>
              <li>
                <a href="{% url 'categorias' %}" class="waves-effect">
                  <i class="material-icons">collections</i><strong>Categorias</strong>
                </a>
              </li> 
              <li>
                <a href="{% url 'feed' %}" class="waves-effect">
                  <i class="material-icons">favorite</i><strong>Mi feed</strong>
                </a>
              </li>               
              <li>
                <a href="{% url 'new_post' %}" class="waves-effect">
                  <i class="material-icons">add</i><strong>Crear Post</strong>
                </a>
              </li>               



              {% else %}
                  
              {% endif %}              




            <li><div class="divider"></div></li>

              {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'cerrar_sesion' %}" class="waves-effect">
                    <i class="material-icons">power_settings_new</i>Cerrar Sesión
                  </a>
                </li> 
              {% else %}
                <li>
                  <a href="{% url 'iniciar_sesion' %}" class="waves-effect">
                    <i class="material-icons">power_settings_new</i>Iniciar Sesión
                  </a>
                </li>               
                <li>
                  <a href="{% url 'nuevo_usuario' %}" class="waves-effect">
                    <i class="material-icons">account_circle</i>Registrar
                  </a>
                </li>               
              {% endif %}


              <div class="divider"></div>
          

          </ul>
          <!-- fin items menu deslizante -->

          {% if user.is_authenticated %}
            {% if request.user.foto %}
              <a href="#" data-target="slide-out" class="sidenav-trigger">
                <div class="circulo-img-menu" style="background-image: url('{{ request.user.foto.url }}');">
                </div>             
              </a>
            {% else %}
              <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">person</i></a>              
            {% endif %}
          {% else %}
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          {% endif %}

      </div>
    </div>
  </div>
</nav>